@model CollectionViewModel

@{
    var collectionThemes = ViewBag.Theme as IEnumerable<SelectListItem>;
}

<div class="container shadow-lg bg-white rounded-3 col-lg-6 col-md-8">
    <div class="p-2 px-4">
        <form asp-action="UpdateCollection" asp-controller="Collection" method="post" enctype="multipart/form-data">
                <input hidden asp-for="Id" value="@Model.Id"/>

            <div asp-validation-summary="All"></div>
                <div class="input-group m-2" id="dropzone">
                    <input id="uploader" asp-for="Image" accept="image/png,image/jpeg"/>
                    <label class="input-group-text">Upload</label>
                </div>
                <div class="d-flex flex-column m-2">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Input Collection name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="d-flex flex-column m-2">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" maxlength="512"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="d-flex flex-column m-2">
                    <label asp-for="Theme"></label>
                    <select class="custom-select" asp-for="Theme" asp-items="collectionThemes"></select>
                </div>

                <div class="row my-4 mx-2">
                    <button type="submit" class="btn btn-outline-primary col mx-2">Submit</button>
                    <a asp-action="UserCollections" asp-controller="Collection" class="btn btn-outline-danger col mx-2">Cancel</a>
                </div>
        </form>
    </div>
</div>

