@model Comment

<form asp-action="CreateComment" asp-controller="Item" method="post">
    <div class="container col-lg-8 col-md-10 text-center mt-5">
        <h4>Leave the comment</h4>

        <textarea asp-for="Value" class="form-control"></textarea>

        <input hidden asp-for="SenderId" value="@Model.SenderId"/>
        <input hidden asp-for="ItemId" value="@Model.ItemId"/>

        <div class="row container justify-content-center mt-2">
            <button class="btn btn-outline-primary col-5">Send</button>
        </div>
    </div>
</form>