@model CreateItemViewModel


<div class="container shadow-lg bg-white rounded-3 col-lg-6 col-md-8">
    <div class="p-2 px-4">
        <form asp-action="CreateItem" asp-controller="Item" method="post">
                
            <div asp-validation-summary="All" class="text-danger"></div>
                <div class="d-flex flex-column m-2">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Input item name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="d-flex flex-column m-2">
                    <label asp-for="Tags"></label>
                    <input asp-for="Tags" class="form-control" placeholder="Input item tags"/>
                    <label>Example: #coin #rare #game</label>
                </div>

                <div class="d-flex flex-column m-2">
                    <div class="d-flex flex-row">
                        <label asp-for="IsPrivate" class="form-check-label"></label>
                        <input asp-for="IsPrivate" class="form-check-input mx-2"/>
                    </div>
                    <label>If true no one can see item except you</label>
                </div>

                <input asp-for="CollectionId" value="@ViewBag.Collection.Id" hidden/>
                
            @{
                foreach(CollectionProperty property in @ViewBag.Properties)
                {
                        <label>@property.Name</label>
                    @switch (property.Type)
                    {
                        case PropertyType.Number_Input:
                            <input class="form-control m-2" name="values" type="number"/>
                        break;
                        case PropertyType.Date_Input:
                            <input class="form-control m-2" name="values" type="date"/>
                        break;
                        case PropertyType.Check_Box:
                            <input id="checkHidden" hidden name="values" value="false"/>
                            <input type="checkbox" class="form-check mx-2" id="checkInput" value="false"/>
                        break;
                        case PropertyType.Text_Input:
                            <input class="form-control m-2" name="values" type="text"/>
                        break;
                        case PropertyType.Text_Area:
                            <textarea class="form-control m-2" maxlength="512" name="values"></textarea>
                        break;
                    }
                }
            }

                <div id="inputBlock"></div>
                <button type="submit" class="btn btn-outline-primary btn-block w-100 mt-4 mb-4">Submit</button>
        </form>
    </div>
</div>
