<div class="container shadow-lg bg-white rounded-3 col-lg-6 col-md-8">
    <div class="p-2 py-4">
            <img class="img-fluid" style="padding-left:6 %" src="~/img/unnamed.png"/>
        </div>
    </div>